<ul>
    {{#each names}}
    <li><strong><a href="/greeted-times/{{username}}"><h4>{{name}}</h4></a></strong></li>
    {{/each}}
</ul> 

<div class="thenames"></div>

<label style="text-decoration: underline; margin-left: 50px"><strong><a href="/">Main pages</a></strong></label>
