<h4><br><br><strong>Hello,&nbsp{{selectedName}} &nbsp has been greeted &nbsp {{counter}} &nbsp time(s) </strong></h4>

<label style="text-decoration: underline; margin-left: 50px"><strong><a href="/greeted"><strong>Previous page</strong></a></strong></label>

<label style="text-decoration: underline; margin-left: 50px"><strong><a href="/"><strong>Main pages</h4></strong></strong></label>
