<div class="main">
    <div class="header">
        <label for="greetings">
            <H1 class="myheading"><strong>Greetings</strong></H1>
        </label>
    </div>
    <div class="behind" style="margin-bottom: 1%; margin-top:1%">

    </div>

    <div name="message" class="info">
        {{messages.info}}
    </div>

    <form action="/greet" method="POST">
        <div name="message" class="error">
            {{messages.error}}
        </div>
            <div class="enterName">
                
                    <label for="name">
                        <h4>Name</h4>
                    </label>
               
                <div class="nameInput">
                    <input type="text" name="enteredName" class="enteredName">
                </div>
    
                <div class="myCounter"><label for="count"
                        style="font-size: large; margin-right:10px"><strong>Counter:</strong></label><span
                        class="counter"><strong>{{Count}}</strong></span>
                </div>

            </div>
            <div class=" languages">
                <div class="">
                    <input type="radio" id="r" name="selectedLanguage" class="select-language" value="english">
                    <label for=""><strong>English</strong></label>
                </div>
                <div class="">
                    <input type="radio" id="r1" name="selectedLanguage" class="select-language" value="afrikaans">
                    <label for=""><strong>Afrikaans</strong></label>
                </div>
                <div class="">
                    <input type="radio" id="r2" name="selectedLanguage" class="select-language" value="setswana" class=>
                    <label for=""><strong>Setswana</strong></label>
                </div>
            </div>
            <div class="behind" style="margin-bottom: 1%; margin-top:1%">
                <div name="message" class="messages">
                    <h4>{{message}}</h4>
                </div>
            </div>
            <div class="buttons">
                <div class="grtbtn">
                    <button class="button-primary greetingsBtn" type="submit">Greet Me</button>
                </div>

    </form>
    {{!-- <form action="/greeted" method="post"> --}}


        <form action="/reset" method="POST">

            <button class="button-primary resetBtn" type="submit" value="">Reset</button>

        </form>
         
        
        <br>
        </div>
        <div class="greeted">
            <button class="button-primary greetedbtn" type="submit" style="
            ; padding: 
            2px 1em 2px 1em; background-color:transparent; border:transparent; font-size:
             large; text-decoration: underline;font-weight: bolder;" value=""><a href="/greeted"> Greeted</a></button>
        </div>
       

        <div class="row">
            <div class="">
                <label for="message" class="storedNames"></label>
            </div>
        </div>
</div>
</div>