/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color:  rgb(252, 255, 91);
  overflow: hidden;  
}
.container {   
  width: 80%;    
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;  
}
.main{
  border: solid blue;
  height: 400px;
  margin-left: 20%;
  margin-right: 20%;
 
}

.myheading{
  text-align: center;
  color: yellow;
  background-color: blue;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 5%;
}
.messages{
  margin-left: 50%;
  width: 100%;
  height: 30px;
}

button{
  border-radius:8px;
  width: 90px;
  background-color: blue;
  color: #000;
  padding: 2px;
  margin: auto;
  }
.nameInput{
    padding-top: 25px;
    margin-left: 10%;
}


/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */
input{
  padding: 1%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

ul{
  list-style: none;
}

.header{
  margin:0 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



/* ==== GRID SYSTEM ==== */

.enterName{
  display: flex;
  justify-content: center;
}
.counter{
  color: rgb(19, 19, 65);
}
.myCounter{
  margin-left: 15%;
  padding-top: 1.3em;
}
.error{
  color: crimson;
  margin-right: 50%;
}
.buttons{
  width: 100%;
}

.behind{ 
  margin-right: 100%;
}
.storedNames{  
  margin:0 0;
}
.reset{
  margin-left: 50%;
}
.box{
  margin-left: 30%;  
}

.r1, .r2 {
  margin-left: 5%;
}
.row {
  position: relative;
  width: 40%;
}
.radio-1{
  margin-left: 2%;
}
.radio-2{
  margin-left: 2%;
}
.r, .r1, .r2 {
  margin-bottom: 5%;
  margin-top: 3%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
.footer{
  display: flex;
  justify-content: space-between;
  
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
  font-style: oblique;
  padding-left: 2%;
  padding-right: 2%;
}


.error{
  margin-left: 20%;
  color: crimson;
}
.info{
  color: green;
}
.warning{
  color: coral;
}
.good{
  color: green;
}
@media (min-width:662px){
  .container {
    text-align: center;   
    width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
  }
  .languages{
    display: flex;
    width: 100%;
  }
  .header{
    margin-left: 5%;
  }  
}
/* 425 */
@media (max-width: 769px){
  main{
    height: 768px;
  }
  .enteredName{
    flex-direction: column;
  }
  .languages{
    display: flex;
    flex-direction: column;
  }
  .r, .r1, .r2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .behind{ 
    margin-right: 800%;
  }
}

@media (max-width:425px) and (min-width: 100px){
  
  .header{
    font-size: 1000;
    width: 50%;
    margin: 0 10%;
  }
  
  .box{
    width: 80%;
    margin-left: 0%;  
    margin-right: 0%;
  }
}


@media (max-width:572px){
  .header{
    width: 50%;
    margin: 0 10%;
  }  
  
  .box{
    width: 80%;
    margin-left: 10%;  
    margin-right: 10%;
  }  
}

@media (min-width:572pxpx){    
  .header{
    margin:0 0;
  }
  .buttons{
    display: flex;  
    flex-direction: column;
  }
  .r, .r1, .r2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .enterName{
    display: flex;
  }
  
  .behind{ 
    margin-right: 100%;
  }
  
}
@media (min-width: 992px){
  .container {        
    width: 80%;   
    margin-left: 10%;
    margin-right: 10%;
  }
  .header{
    margin-left: 5%;
  }
  
  .enterName{
    display: flex;
  }
  .buttons{
    display: flex;  
    justify-content: center;
  }
  .resetBtn{
    margin-left: 40%;
  }
  .behind{ 
    margin-right: 50%;
  }
  .storedNames{  
    margin:0 0;
  }
  .reset{
    margin-left: 30%;
  }
  .box{
    margin-left: 30%;  
  }
  .languages{
    display: flex;
    width: 70%;   
    justify-content: center; 
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width:991px){
  .buttons{
    display: flex;  
    flex-direction: column;
  }
}